.navbarStyle {
    background: rgba(255, 255, 255, 0.052);
   height: auto;
  }
  
 .logout{
color: white;
width: 50px;
padding-left: 15px;
margin-right: 20px;
}

.navbarButton{
    background: #bb7474;
}
