.photoAddContainer{
    height: 80vh;
    background-color: #252f4f;
}
.primaryPhotoText{
    font-size: 25px;
    font-weight: 900;
}
/* CSS to style the Form.Control */
#custom-input-bg {
    background-color: transparent;
    color: white;
    /* Add any other styling you need */
  }
  
  /* CSS to style the placeholder text */
  #custom-input-bg::placeholder {
    color: white; /* Set the placeholder text color to white */
    /* Add any other styling you need for the placeholder */
  }
