.mainContainer{
    background-color: aqua;
    height: 100vh;
}
.row {
    border-bottom: 1px solid black;
  }
  
  .col {
    border-right: 1px solid black;
  }
.registrationContainer{
    height:500px;
    background: linear-gradient(to right, #124f4f, #041c1c);

}  